<!-- Sidebar navigation -->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

        <!-- SideNav slide-out button -->
        <div class="pull-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn">
            <p>Shop</p> 
        </div>


        <ul class="nav navbar-nav pull-right">

            <li class="nav-item">
                <a ui-sref="viewcart" class="nav-link">

<i class="fa fa-shopping-cart"></i>
<span class="hidden-sm-down">Cart</span></a>
            </li>
            
        </ul>

    </nav>
    <!--/.Navbar-->        
</header>
